#
# URLManger 需要爬取得网站的请求配置
# Downloader 下载器需要的相关配置
# DataManager 数据保存模块需要的配置
# Parser 解析器需要的配置
#
URLManger:
  url: https://xa.lianjia.com/ershoufang/pg1/
  method: use_page  # 初始化url列表时调用的方法
  pg_count: 7 # 需要抓取的总页数
  module: enrichModule.url # 自定义的管理器模块
  classN: u # 类名

Downloader:
  headers:
    ser-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:77.0) Gecko/20100101 Firefox/77.0



DataManager:
  # mode: db,csv
  mode: csv
  module: enrichModule.DataModel # 自定义模块
  db:  # db模式的相关参数
    info:
      host: localhost
      user: root
      password: root
      database: test
      charset: utf8
    table:
      name: xi_an
      fields:
        houseInfo:
          VARCHAR(512)
        title:
          VARCHAR(512)
        positionInfo:
          VARCHAR(512)
        totalPrice:
          VARCHAR(512)
        unitPrice:
          VARCHAR(512)
        followInfo:
          VARCHAR(512)
        tag:
          VARCHAR(512)
  csv: # csv模式的相关参数
    data_header: ['houseInfo', 'title', 'positionInfo', 'totalPrice', 'unitPrice', 'followInfo', 'tag']
    base_path: data/xi'an
    counts: 121

Parser:
  mode: HTML # 解析数据的类型模式
  conductor:  # 继续数据的规则
    houseInfo: //div[@class="houseInfo"]/text()
    title: //div[@class="title"]/a/text()
    positionInfo: //div[@class="positionInfo"]/a/text()
    totalPrice: //div[@class="totalPrice"]/span/text()
    unitPrice: //div[@class="unitPrice"]/span/text()
    followInfo: //div[@class="followInfo"]/text()
    tag: //div[@class="tag"]/span/text()








